.navbar {background-color: red;

}
.navbar-brand {color: white !important;

}
.nav-link {color: white !important;

}

body {background-color: black;}

body {color: red;}

.col-md.12 {text-align:center}

.mt-0 {
    margin-top: 40 !important;
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: black;
    text-align: center;


